/*CARACTERISTICAS PRINCIPALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{    
    color: #000;
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    width: 100%;
    background-color: #294556;
    background-image: linear-gradient(0deg, #294556 0%, #ffffff 100%);
    font-size: 16px;

}

/* INICIO SECCION MENU*/

#main-menu {
    gap: 1.5rem;
}

nav a:hover{
    color: whitesmoke;
}
/*FIN HEADER*/

/*INICIO SECCION GENERAL*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}
/*FIN SECCION GENERAL*/

/*INICIO SECCION HOME*/

.imagenEquipo {
width: 80vw; /* para dispositivos móviles */
}

@media screen and (min-width: 768px) {
.imagenEquipo {
width: 100vw; /* para dispositivos de escritorio */
}
}

/* Cartel de DEVXPERTS */
.home-section {
    overflow: hidden;
    text-align: center;
}

.cartel {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 0 1em 0 1em;
}

.cartel h1 {
    color: #2FA5E3;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px rgb(71, 71, 71);
}
/* FIn cartel */

/*FIN SECCION HOME*/

/* INICIO SECCION CONTACT CARDS */

.contact-cards-section {
    margin-top: 1.5em;
    display: flex;
    height: fit-content;
}

.contact-cards-section h1 {
    text-align: center;
}

.card {
    max-width: 15rem;
}

.github-btn ,.linkedin-btn {
    width: 100%;
    margin-top: 0.2rem;    
}
/*FIN SECCION CARDS*/


/* INICIO SECCION 3 */
.contact-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    align-items: flex-end;

    }

    .form-titulo{
        font-weight: normal;
        text-align: center;
    }
    
    
    .form-contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(220, 220, 220, .5);
        width: 40%;
        min-width: 350px;
        height: 75%;
        border-radius: 15px;
    }
    .form-header{
        width: 100%;
    }
    .form-titulo{
        text-align: center;
        margin-top: 25px;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        height: 100%;
    }
    
    .form-label{
        display: block;
        position: relative;
        font-size: 1em;
        color: black;
    }
    
    .form-textarea{
        width: 100%;
        max-width: 100%;
        height: 50px;
        margin: 10px auto;
        border-radius: 5px;
        padding: 2px;
        background-color:rgba(200, 200, 200, .5);
        transition: .5s;
        color: #000;
    }
    
    .form-textarea:focus{
        background-color: rgba(230, 230, 230, .9);
    }
    .form-input{
        height: 35px;
        width: 100%;
        margin: 10px auto;
        border-radius: 5px;
        padding: 2px;
        background-color:rgba(200, 200, 200, .5);
        transition: .5s;
        color: #000;
    }
    
    .form-input:focus{
        background-color: rgba(230, 230, 230, .9);
    }
    
    .btn-submit{
        width: 100%;
        height: 40px;
        margin: 10px auto;
        border-radius: 5px;
        background-image: linear-gradient(325deg, #000000 0%, #ededed 100%);
        transition-duration: .5s;
    }

    .btn-submit:hover{
        background-image: linear-gradient(325deg, #ededed 0%, #000000 100%);
    }
/* FIN SECCION 3 */


/* INICIO FOOTER */

footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
}

.container__footer{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.soluciones{
    border-left: 1px solid rgb(125, 123, 146);
}

.nosotros{
    border-left: solid 1px rgb(125, 123, 146);
}

.r-sociales{
    border-left: 1px solid rgb(125, 123, 146);
}
.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 300px;
    margin-top: 20px;
    font-weight: 500;
    color: #cccccc;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #cccccc;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #cccccc;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #cccccc;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #cccccc;
}

/* FIN FOOTER */

































































@media (max-width:500px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}




