/*CARACTERISTICAS PRINCIPALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #294556;
    background-image: linear-gradient(0deg, #294556 0%, #ffffff 100%);

}







/*INICIO HEADER*/
header {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    /*background-color:#2f3234;*/   /*Cambio temporal*/
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: #c8c8c7;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: whitesmoke;
}
/*FIN HEADER*/










/*INICIO SECCION GENERAL*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
/*FIN SECCION GENERAL*/







/*INICIO SECCION CARDS*/
.contact-cards {
    display: flex;
}

.card {
    max-width: 15rem;
}

.github-btn ,.linkedin-btn {
    width: 100%;
    margin-top: 0.2rem;    
}
/*FIN SECCION CARDS*/








/* INICIO SECCION 3 */
.seccion-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    /*background-color: #000000;
    background-image: linear-gradient(325deg, #000000 0%, #ededed 100%); */    /*TEMP*/ 
    }

    
    
    
    
    .form-titulo{
        font-weight: normal;
        text-align: center;
    }
    
    
    .form-contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(220, 220, 220, .5);
        width: 40%;
        height: 80%;
        border-radius: 15px;
    }
    .form-header{
        width: 100%;
    }
    .form-titulo{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        height: 100%;
    
    }
    
    .form-label{
        display: block;
        position: relative;
        font-size: 1em;
        color: black;
    }
    
    .form-textarea{
        width: 100%;
        max-width: 100%;
        height: 50px;
        margin: 10px auto;
        border-radius: 5px;
        padding: 2px;
        background-color:rgba(200, 200, 200, .5);
        transition: .5s;
        color: #000;
    }
    
    .form-textarea:focus{
        background-color: rgba(230, 230, 230, .9);
    }
    .form-input{
        height: 35px;
        width: 100%;
        margin: 10px auto;
        border-radius: 5px;
        padding: 2px;
        background-color:rgba(200, 200, 200, .5);
        transition: .5s;
        color: #000;
    }
    
    .form-input:focus{
        background-color: rgba(230, 230, 230, .9);
    }
    
    .btn-submit{
        width: 100%;
        height: 40px;
        margin: 10px auto;
        border-radius: 5px;
        background-image: linear-gradient(325deg, #000000 0%, #ededed 100%);
        transition-duration: .5s;
    }

    .btn-submit:hover{
        background-image: linear-gradient(325deg, #ededed 0%, #000000 100%);
    }
/* FIN SECCION 3 */


/* INICIO FOOTER */

footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #313131;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #313131;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #313131;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #313131;
}

/* FIN FOOTER */


































































@media (max-width:500px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}




